*{
    margin: 0;
    padding: 0;
}
.encabezado{
    background-color: #B5FF33;
    height: 120px;
    box-shadow: 2px 2px 5px;
}
h1{
    text-align: center;
    height: 120px;
}
.logo{
    height: 140px;
    width: 200px;
    filter: brightness(1.1);
	mix-blend-mode: multiply;
}
.principal{
    background-color: #C6EF7E;
    width: 60%;
    margin: 50px auto;
    border-radius: 10px;
}
.subtitulo{
    font-size: 1.6em;
    font-style: italic;
    text-align: center;
    padding: 15px;
}
.carrito{
    list-style: none;
    width: 100%;
    margin-bottom: 90px;
    padding-top: 15px;
}
.carritoVacio{
    font-size: 1.2em;
    justify-content: center;
    margin: 0 auto;
}
li{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}
i{
    font-weight: bold;
    text-decoration: underline;
}
p{
    font-size: 1.2em;
    width: 250px
}
.eliminar{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.boton{
    width: 130px;
    height: 50px;
    border-radius: 30px;
    background-color: #B5FF33;
    display: block;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
}
.boton:hover{
    cursor: pointer;
    background-color: #78B015;
}
h4{
    text-align: center;
    font-size: 1.4em;
    margin: 20px;
}
a{
    text-decoration: none;
    color: #78B015;
    font-weight: bold;
}
.volver{
    width: 130px;
    height: 50px;
    background-color: #C6EF7E;
    border-style: hidden;
    display: block;
    margin: 30px auto;
    font-size: 1.2em;
}
@media (max-width: 760px) {
    .principal{
        width: 90%;
    }
}